EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=205832074155-e3mq0jdpeg54avhscok1ga0v7jpuf4oe.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=205832074155-7ugcsu89mr7abk8psrod7pknr1t53pkc.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-client-id.apps.googleusercontent.com
